<div class="container">
   <div class="banner">
    <h1>Your movie lists</h1>
  </div>
  <ol>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list %><%= cl_image_tag list.photo.key, height: 50, width: 50, crop: :fill %></li>
    <% end %>
  </ol>

  <%= link_to 'Create a movie list', new_list_path %>
</div>
